{% extends "base.html" %}

{% block content %}
<div class="container mt-5 fs-5 text-center">
    <h3>Вы успешно авторизированы, доступ к секретной странице получен!</h3><br><br>
    <p>секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет
        секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет секрет</p>

</div>
{% endblock content %}  